:root {
  /* Colores Neutrales */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);

  /* Colores de Acento */
  --orange-500: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);

  /* Tipografía */
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Bricolage Grotesque", sans-serif;
  --font-base-size: 18px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-base-size);
}

body {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
  font-family: var(--font-primary);
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*ESTRUCTURA GENERAL WEB*/
.app-container {
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (min-width: 768px) {
  .app-container {
    padding: 40px;
    gap: 60px;
  }
}

@media (min-width: 1080px) {
  .app-container {
    max-width: 1080px;
    padding: 20px 40px;
    gap: 40px;
  }
}

/*CABECERA*/
.header-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 125px;
}

#units-btn {
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-family: var(--font-primary);
  font-size: 0.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/*MAIN*/
.main {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

/*SECCIÓN DE BUSQUEDA*/
.search-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 16px;
  width: 20px;
  height: 20px;
}

.search-form input {
  width: 100%;
  padding: 15px 15px 15px 48px;
  border-radius: 12px;
  border: none;
  background-color: var(--neutral-600);
  color: white;
  font-size: 1rem;
}

.btn-search {
  padding: 16px;
  background-color: #4a5cf4;
  color: white;
  border: none;
  border-radius: 12px;
}

@media (min-width: 768px) {
  .search-section {
    gap: 16px;
  }

  .search-section h1 {
    font-size: 2.2rem;
  }

  .search-form {
    justify-content: center;
    display: flex;
    flex-direction: row;
    max-width: 600px;
    margin: 0 auto;
  }

  .input-group {
    flex-grow: 1;
  }
}

@media (min-width: 1080px) {
  .search-section {
    gap: 10px;
  }

  .search-section h1 {
    font-size: 2.5rem;
    font-family: var(--font-secondary);
  }

  .search-form {
    flex-direction: row;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    gap: 16px;
  }

  .input-group {
    flex-grow: 1;
  }

  .btn-search {
    padding: 0 32px;
    height: 54px;
  }
}

/*SECCIÓN CLIMA ACTUAL*/
.current-weather {
  background-image: url(assets/images/bg-today-small.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 24px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}

.current-weather h2 {
  font-size: 1.4rem;
}

.current-weather p {
  font-size: 0.8rem;
}

.display-temperatures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.display-temperatures img {
  width: 5rem;
}

#current-temperature {
  font-size: 5rem;
  font-family: var(--font-primary);
  font-style: italic;
}

@media (min-width: 768px) {
  .current-weather {
    background-image: url(assets/images/bg-today-large.svg);
    background-size: contain;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1080px) {
  .current-weather {
    background-image: url(assets/images/bg-today-large.svg);
    background-size: contain;
    flex-direction: row;
    justify-content: center;
  }
}

/*SECCIÓN METRÍCA DE TIEMPO*/
.metric-weather {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.metric-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: var(--neutral-800);
  padding: 15px;
  width: 100%;
  min-height: 110px;
  border-radius: 12px;
  border: 1px solid var(--neutral-600);
}

.metric-card h3 {
  font-size: 0.9rem;
  color: var(--neutral-300);
}

.metric-card p {
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .metric-weather {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1080px) {
  .metric-weather {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*SECCIÓN PRONOSTICO DIARIO*/
.daily-forecast h3 {
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.day-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.day-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px;
  background-color: var(--neutral-800);
  border-radius: 12px;
  border: 1px solid var(--neutral-600);
  text-align: center;
}
.day-card h4 {
  font-size: 0.9rem;
}
.day-card img {
  width: 66px;
}

.day-card-temperatures {
  display: flex;
  gap: 24px;
}

.day-card-temperatures .high {
  font-size: 0.9rem;
  color: var(--neutral-0);
}

.day-card-temperatures .low {
  font-size: 0.9rem;
  color: var(--neutral-300);
}

@media (min-width: 768px) {
  .day-cards-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1080px) {
  .day-cards-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}
